body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  max-width: 90%;  
  margin: 0 auto;   
}

.home-desk {
  display: none;
}

.home-mob {
  display: block;
  margin-bottom: 25px;
}

nav {  
  background: #333;
  padding: 20px;
}

nav a {
  color: #fff;  
  text-decoration: none;
  margin-right: 20px;
}

.logo img {
  width: 100px;
}

.home h1,  
.about h2,
.contact-form h2 {
  color: #333;   
  text-align: center;    
  margin: 50px 0;   
}

.ads-banner img,
.contact-image img,
.banner img {
  width: 100%;
  height: auto; 
}

.home p,
.about p {
  color: #666;
  line-height: 1.5;
  text-align: center;
}

.ads-banner img {
  width: 100%;
}

.about p {
  color: #666;
  line-height: 1.5;
}

.contact-form {
  max-width: 500px;
  margin: 0 auto;  
  padding: 50px;
  background: white;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}

.contact-form h2 {
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #333;
}

.contact-form label {
  display: block;
  margin-bottom: 10px;
  color: #333;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;  
  border: 1px solid #ddd;
  outline: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #8B66FF;
}

.contact-form button {
  background: #8B66FF;  
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.contact-form button:hover {
  background: #33245B;
}

footer {
  background-color: #33245B;
  text-align: center;
  padding: 20px;
  color: #fff;
}